<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SuiteFromXML" verbose="1" >

    <test name="MyTestFromXML" >
        <classes>
            <class name="DevPortal">
                <methods>
                    <include name="userSignIn" />
                </methods>
            </class>
        </classes>
    </test>
</suite>